@import url(./index.css);
@import url(./tablet.css);

@media (min-width: 1440px) {
  .header-logo {
    margin-left: 0;
  }

  .header-button {
    margin-right: 0;
  }

  .hero-article {
    margin-left: 0;
  }

  .hero-img-container {
    width: 800px;
    height: 900px;

    margin-top: -150px;

    background-image: url(../assets/hero-desktop.svg);

    background-position: left top;
  }

  .grid {
    height: 750px;
  }

  .grid-container {
    gap: 30px;

    grid-template-columns: 350px 350px 350px;
  }
}
