@import url(./index.css);
@import url(./tablet.css);

@media (min-width: 1440px) {
  .header-logo {
    margin-left: 0;
  }

  .header-button {
    margin-right: 0;
  }

  .hero {
    height: 757px;
  }

  .hero-article {
    margin-left: 0;
  }

  .hero-img-container {
    width: 700px;
    height: 900px;

    margin-left: 150px;
  }

  .hero-img-desktop {
    width: 900px;
    height: 846px;
  }

  .grid {
    height: 750px;
  }

  .grid-container {
    gap: 30px;

    grid-template-columns: 350px 350px 350px;
  }
}
