.header {
  width: 100vw;
  height: 48px;

  margin-top: 16px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header-logo {
  width: 89px;
  height: 22px;

  margin: 19px 0 7px 16px;
}

.header-button {
  width: 140px;
  height: 48px;

  margin-right: 16px;

  color: var(--white);
  background-color: var(--dark-blue);
}

.hero {
  width: 100vw;
  height: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-article {
  margin: 38px 0 0 16px;
}

.hero-article-p {
  width: 343px;

  margin-top: 26px;
}

.hero-article-button {
  width: 167px;
  height: 56px;

  margin-top: 24px;

  color: var(--white);
  background-image: linear-gradient(#ff6f48, #f02aa6);
}

.hero-img {
  width: 100vw;
  max-width: 375px;

  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.grid {
  height: 1690px;
  background-image: linear-gradient(#fff, #f0f1ff);
}

.grid-container {
  display: grid;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.grid-item {
  width: 343px;
  height: 283px;
}

.grid-item-small {
  max-height: 120px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(#ff6f48, #f02aa6);
  border-radius: 10px;
}

.grid-item-heading {
  width: 286px;
  /* margin-left: 28px; */
}

.grid-item-icon {
  margin-left: 28px;
  position: relative;
  z-index: 2;
}

.grid-item-article {
  width: 343px;
  height: 259px;

  position: relative;
  top: -35px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-color: var(--white);
  border-radius: 10px;
}

.grid-item-article-title {
  margin: 25px 0 0 28px;
}

.grid-item-article-p {
  width: 286px;
  margin: 16px 0 24px 28px;
}

.grid-item-article-link {
  margin-left: 28px;

  color: var(--dark-pink);
  font-size: 18px;
  font-weight: 700;
}

.footer-container {
  width: 100vw;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--dark-blue);
}

.footer-button {
  width: 140px;
  height: 48px;

  margin-right: 16px;

  color: var(--white);
  background-image: linear-gradient(#4851ff, #f02aa6);
}
