@import url(./index.css);

@media (min-width: 768px) {
  .header {
    max-width: 1110px;
    margin: 24px auto 0 auto;
  }

  .header-logo {
    margin: 19px 0 7px 40px;
  }

  .header-button {
    margin-right: 40px;
  }

  .hero {
    max-width: 1110px;
    height: 550px;

    margin: 0 auto;

    flex-direction: row;
    justify-content: space-between;
  }

  .hero-article {
    margin: -50px 0 0 39px;
  }

  .hero-img-mobile {
    display: none;
  }

  .hero-img-container {
    width: 360px;
    height: 569px;

    margin-top: 0;

    overflow: hidden;
  }

  .hero-img-desktop {
    width: 640px;
    height: 585px;

    display: flex;
    position: relative;
    top: -110px;
  }

  .grid {
    height: 960px;
  }

  .grid-container {
    grid-template-columns: 339px 339px;
  }

  .grid-item-small {
    max-height: 259px;

    align-items: flex-start;
  }

  .grid-item-heading {
    margin-top: 56px;
  }

  .footer-logo {
    margin-left: 40px;
  }

  .footer-button {
    margin-right: 40px;
  }
}
