@import url(./index.css);

@media (min-width: 768px) {
  .header {
    margin-top: 24px;
  }

  .header-logo {
    margin: 19px 0 7px 40px;
  }

  .header-button {
    margin-right: 40px;
  }

  .hero {
    height: 640px;
    flex-direction: row;
  }

  .grid {
    height: 999px;
  }

  .grid-container {
    grid-template-columns: 339px 339px;
  }

  .grid-item-small {
    max-height: 259px;

    align-items: flex-start;
  }

  .grid-item-heading {
    margin-top: 56px;
  }
}
